@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 171 100% 7%;
      --foreground: 172 100% 94%;
      --card: 171 100% 7%;
      --card-foreground: 172 100% 94%;
      --popover: 171 100% 7%;
      --popover-foreground: 172 100% 94%;
      --primary: 177 97% 71%;
      --primary-foreground: 171 100% 7%;
      --secondary: 232 98% 33%;
      --secondary-foreground: 172 100% 94%;
      --muted: 171 100% 80%;
      --muted-foreground: 172 100% 94%;
      --accent: 254 98% 50%;
      --accent-foreground: 172 100% 94%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 172 100% 10%;
      --border: 171 100% 60%;
      --input: 171 100% 80%;
      --ring: 254 98% 60%;
    }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
