@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 158 40% 4%;
      --foreground: 163 44% 94%;
      --card: 158 40% 4%;
      --card-foreground: 163 44% 94%;
      --popover: 158 40% 4%;
      --popover-foreground: 163 44% 94%;
      --primary: 164 44% 75%;
      --primary-foreground: 158 40% 4%;
      --secondary: 201 45% 35%;
      --secondary-foreground: 163 44% 94%;
      --muted: 158 39% 80%;
      --muted-foreground: 163 44% 94%;
      --accent: 220 45% 55%;
      --accent-foreground: 158 40% 4%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 162 45% 10%;
      --border: 158 40% 60%;
      --input: 158 39% 80%;
      --ring: 220 45% 60%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
